<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>EwasteRecyclingPortal</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>registerUser</display-name>
    <servlet-name>registerUser</servlet-name>
    <servlet-class>ewasteRecycler.registerUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerUser</servlet-name>
    <url-pattern>/registerUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userRegister</display-name>
    <servlet-name>userRegister</servlet-name>
    <servlet-class>ewasteRecycler.registerUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userRegister</servlet-name>
    <url-pattern>/userRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRegister</display-name>
    <servlet-name>UserRegister</servlet-name>
    <servlet-class>ewasteRecycler.registerUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegister</servlet-name>
    <url-pattern>/UserRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminLogin</display-name>
    <servlet-name>adminLogin</servlet-name>
    <servlet-class>ewasteRecycler.adminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminLogin</servlet-name>
    <url-pattern>/adminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addRecycler</display-name>
    <servlet-name>addRecycler</servlet-name>
    <servlet-class>ewasteRecycler.addRecycler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addRecycler</servlet-name>
    <url-pattern>/addRecycler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userLogin</display-name>
    <servlet-name>userLogin</servlet-name>
    <servlet-class>ewasteRecycler.userLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userLogin</servlet-name>
    <url-pattern>/userLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubmitPickupRequest</display-name>
    <servlet-name>SubmitPickupRequest</servlet-name>
    <servlet-class>ewasteRecycler.SubmitPickupRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitPickupRequest</servlet-name>
    <url-pattern>/SubmitPickupRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RecyclerLogin</display-name>
    <servlet-name>RecyclerLogin</servlet-name>
    <servlet-class>ewasteRecycler.RecyclerLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecyclerLogin</servlet-name>
    <url-pattern>/RecyclerLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RecyclerUpdateStatus</display-name>
    <servlet-name>RecyclerUpdateStatus</servlet-name>
    <servlet-class>ewasteRecycler.RecyclerUpdateStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecyclerUpdateStatus</servlet-name>
    <url-pattern>/RecyclerUpdateStatus</url-pattern>
  </servlet-mapping>
</web-app>